<%= form_for(@sandbox) do |f| %>
  <% if @sandbox.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sandbox.errors.count, "error") %> prohibited this sandbox from being saved:</h2>

      <ul>
      <% @sandbox.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :htmlbox %><br>
    <%= f.text_area :htmlbox %>
  </div>
  <div class="field">
    <%= f.label :js %><br>
    <%= f.text_area :js %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
